* {
    background-color: rgb(8, 175, 175);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}
header {
    color: rgb(255, 11, 44);
    background-color: rgb(255, 29, 142);
}

section {
    color: rgb(54, 38, 190);
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
}
#box {
    background-color: blue;
}
h1 {
    color: red;
    text-align: center;
}
h2 {
    color: orange;
}
h3 {
    color: yellow;
}
p {
    color: purple;
    text-decoration: wavy underline;
    font-variant-emoji: emoji;
}

#navbar {
    background-color: black;
    
}
button {
    background-color: greenyellow;
}
#logo {
    color: rgb(238, 255, 0);
}