header {
    color: rgb(255, 11, 44);
    background-color: rgb(255, 29, 142);
}

section {
    color: rgb(54, 38, 190);
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center items */
    align-items: center; /* Vertically center items */
}
#box {
    background-color: blue;
}