* {
    margin: 0;
    font-family: Arial;
    border: border-box;
}
.navbar {
    height: 60px;
    background-color: #0F1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo {
    height : 50px;
    width: 100px;

}
.logo {
    background-image: url("logo.jpeg");
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border {
    border: 1.5px solid transparent;
}
.border:hover {
    border: 1.5px solid white;
}   
.add-first {
    color: #cccccc;
    font-size: 0.85rem;
}
span{
  font-size: 1rem;
    margin-left: 3px;
}
.add-icon {
    display: flex;
    align-items: center;
}
.nav-search {
    display: flex;
    justify-content: space-evenly;
    background-color: rgb(160, 236, 18);
    width: 620px;
    height: 40px;
    border-radius: 5px;
}
.search-select {
   border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
   background-color: #f3f3f3;
   width: 50px;
   text-align: center;
    border: none;
}
.search-input {
    width: 100%;
    font-size: 1rem;
    border: none;
}